/* My fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

:root {
  --max-width: 1100px;
  --border-radius: 40px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  /* My color palette */

  --pink-rgb: 249, 166, 182;
  --pink-2-rgb: 221, 85, 144;

  --white-rgb: 255, 255, 255;
  --white-2-rgb: 233, 235, 243;
  --white-3-rgb: 202, 208, 236;

  --blue-rgb: 123, 132, 198;
  --blue-2-rgb: 63, 74, 154;
  --blue-3-rgb: 13, 11, 71;

  --side-margin: 3rem;
}

/* For potential use of dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} 
*/

/* For potential use of dark mode
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 
*/

/* For potential use of dark mode
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} 
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 12px;
}

/* Beyond the standard 1920vw*/

@media only screen and (min-width: 1920px) { 
  html {
    font-size: 20px;
  }
}

/* Below the standard 1920vw*/

@media only screen and (max-width: 1919px) { 
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) { 
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) { 
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 360px) { 
  html {
    font-size: 8px;
  }
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-size: 4em;
  line-height: 4rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

h4 {
  font-size: 2rem;
  line-height: 2rem;
}

p {
  font-size: 1.35rem;
  line-height: 1.75rem;
}

li {
  list-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}