@mixin shimmer($width, $color1, $color2, $delay) {
  background: $color1;
  background-image: linear-gradient(75deg, $color1 0%, $color1 15%, $color2 35%, $color1 55%, $color1 100%);
  background-size: 100% 100%;
  background-position: 0 0;
  
  animation-duration: 1500ms;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  animation-delay: $delay;

  @media screen and (max-width: 768px) {
    animation-duration: 3000ms;
  }
}

@keyframes placeholderShimmer {

}