.alert {
  background-color: rgb(var(--gray-rgb));
  color: rgb(var(--gray-rgb));
  position: fixed;
  z-index: 5;
  bottom: var(--side-margin);
  right: var(--side-margin);
  padding: 2rem;
  width: calc(100vw - var(--side-margin)*2);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.20);

  h4{
    width: 50%;
    color: inherit;
    filter: brightness(0.25) hue-rotate(-15deg) saturate(5);
    text-transform: capitalize;
  }
  
  p{
    color: inherit;
    margin-top: 1.2rem;
    filter: brightness(0.35) hue-rotate(-10deg)  saturate(3);
  }
}

.closeAlert {
  cursor: pointer;
  position: absolute;
  right: var(--side-margin);
  background-color: transparent;
  border: none;
  color: inherit;

  h4 {
    font-size: 1.5rem;
  }
}

.red{
  background-color: rgb(var(--red-rgb));
  color: rgb(var(--red-rgb));
}

.yellow{
  background-color: rgb(var(--yellow-rgb));
  color: rgb(var(--yellow-rgb));
}

.green{
  background-color: rgb(var(--green-rgb));
  color: rgb(var(--green-rgb));
}

.blue{
  background-color: rgb(var(--blue-rgb));
  color: rgb(var(--blue-rgb));
}

.fadeOut {
  animation: fadeOut 400ms ease-out forwards;
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(200px);
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .alert {
    width: 25rem;
  }
}