@import 'mixins';

.catalog {
  padding: var(--side-margin);
  display: flex;
  gap: 1.2rem;
  align-items: flex-start;
}

.filter {
  position: relative;  
  flex: 7;
  background-color: rgb(var(--white-2-rgb));
  color: rgb(var(--blue-3-rgb));
  border-radius: 1.6rem;
  padding: calc(var(--side-margin)/2);
  margin-bottom: var(--side-margin);
  overflow: hidden;
  transition: all 300ms ease-in !important;

  fieldset {
    padding: 1.2rem;
    border-radius: 1.2rem;
    background-color: rgb(var(--white-rgb));
    border: none;
  }

  button {
    width: 100%;
    margin-top: 2.4rem;
    margin-bottom: 0.6rem;
    border-radius: var(--side-margin);
    background-color: rgb(var(--pink-2-rgb)) !important;
  }

  h3 {
    cursor: pointer;
  }

  h5 {
    margin-top: 1.6rem;
    margin-bottom: 1rem;
  }

  .search {
    width: 100%;
    border: none;
    border-radius: 1.2rem;
    padding-left: 0.8rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    label {
      color: rgb(var(--blue-3-rgb));
    }

    input {
      margin-right: 0.6rem;
    }
  }

  .priceRange {
    width: 0;
    flex: 1;
    border: none;
    background-color: rgb(var(--white-rgb));
    color: rgb(var(--blue-3-rgb));
    border-radius: 1.2rem;
    padding-left: 0.8rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .priceRange:first-of-type {
    margin-left: 0.6rem;
  }

  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.priceRangeWrapper {
  display: flex;
  gap: 1.2rem
}

.productSection {
  flex: 24;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
}

.expandMore {
  display: none;
  position: absolute;
  right: 1.2rem;
  top: 0;
  cursor: pointer;
  transition: all 300ms ease;
  height: 6rem;

  img {
    height: 100%;
    width: auto;
    filter: invert(8%) sepia(56%) saturate(3364%) hue-rotate(235deg) brightness(84%) contrast(109%);
  }
}

.productCardSkeleton {
  border-radius: calc(var(--side-margin)/2);
  overflow: hidden;
  div:nth-child(1) {
    @include shimmer(-350px, #dbdbdb, #edeef1, 0s);
    height: 18rem;
  }

  div:nth-child(2) {
    @include shimmer(-350px, #ededed, #ffffff, 0.1s);
    height: 10rem;
  }
}

@media only screen and (max-width: 900px) {
  .productSection {
    flex: 24;
    grid-template-columns: repeat(2, 1fr);
  }

  .productCardSkeleton:first-of-type {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .catalog {
    flex-direction: column;
    align-items: normal;
  }

  .expandMore {
    display: block;
  }
}