.featuredSection {
  padding: var(--side-margin);
  align-items: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.featuredButtonGroup {
  display: flex;
  gap: 0.6rem;
}

.featuredProducts {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2rem;
}

.fadeIn{
  opacity: 1
}

@media only screen and (max-width: 900px) {
  .featuredProducts {
    grid-template-columns: repeat(2, 1fr);
  }
}