.heroContainer {
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
  background-color: rgb(var(--blue-2-rgb));

  padding-top: 3rem;
  padding-left: var(--side-margin);
  padding-right: var(--side-margin);
  padding-bottom: calc(var(--border-radius) + var(--side-margin));
  color: white;

  p {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 80%;
    text-align: justify;
  }
}

.initialNavbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  p {
    color: rgb(var(--white-3-rgb));
  }
}

.hero {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heroDetailsWrapper {
  display: flex;
  flex-direction: column;

  .heroDetails {
    h1 > span {
      color: rgb(var(--pink-rgb));
      font-family: 'Roboto Slab', serif;
    }
    
    p {
      line-height: 2rem;
      color: rgb(var(--white-3-rgb));
      margin-bottom: 6rem;
    }
  }

  .heroButtonGroup {
    display: flex;
    gap: 10px;
  }
}
.heroImages {
  min-height: 30rem;
  position: relative;
  flex: 1;
  margin-top: 3rem ;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    width: auto;
    height: 100%;
  }
}

.projectPreview {
  padding: var(--side-margin);
  display: flex;
  flex-direction: column;
  gap: var(--side-margin);
}

@media only screen and (max-width: 500px) { 
  .heroDetails {
    justify-content: space-between;
  }
  .heroButtonGroup {
    flex-direction: column;
  }
  .heroContainer {
    p { width: auto ;}
  }
}

@media only screen and (min-width: 768px) {
  .heroContainer {
    height: calc(100svh + var(--border-radius));
  }

  .hero {
    height: calc(100% - var(--border-radius) - var(--side-margin));
    flex-direction: row-reverse;

    .heroDetailsWrapper {
      justify-content: center;
      flex: 3;
    }

    .heroImages {
      flex: 2;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    .heroDetailsWrapper {
      justify-content: flex-end;
      flex: 3;
    }
  }
}