.navbar {
  background-color: rgb(var(--blue-2-rgb));
  padding: 10px var(--side-margin);
  -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.20);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.20);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: transform 400ms ease-out;
}

.navbarTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarRight {
  display: flex;
  align-items: center;
}

.imgWrapper {
  cursor: pointer;
  position: relative;
  height: 3rem;
  width: 6rem;
  margin-right: 10px;

  .img {
    object-fit: cover;
  }
}

.mode {
  background-color: rgb(var(--blue-rgb));
  height: 30px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px 10px;
  border-radius: 15px;
  border: 1px solid rgb(var(--blue-3-rgb));
  color: rgb(var(--blue-3-rgb));
}

.navbarLeft {
  .navbarOptions {
    display: flex;
    gap: 50px;
    font-size: 1.6rem;
    transition: all 0.3s;
  }
}

.hidden {
  display: none !important;
}

.navbarBottom {
  margin-top: 20px;
  display: flex;
}

.categories {
  flex: 0.7;
  font-size: 1.6rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  ul {
  display: flex;
  gap: 80px;

    li { text-transform: uppercase; }
  }
}

.categories::-webkit-scrollbar {
  display: none;
}

.search {
  flex: 0.3;
  padding-left: 20px;

  input {
    width: 100%;
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    height: 30px;
  }
}

.hamburgerMenu {
  display: none;
}

@media only screen and (max-width: 500px) {
  .navbarLeft {
    width: 100%;
    position: absolute;
    background-color: rgb(var(--blue-3-rgb));
    height: auto;
    padding: 20px var(--side-margin);
    transform: translateY(-100%);
    top: 0;
    left: 0;

    ul {
      flex-direction: column;
      align-items: center;
      gap: 10px !important;
      font-size: 2rem !important;
    }
  }

  .search {
    padding: 0;
  }

  .navbarBottom {
    flex-direction: column-reverse;
    gap: 10px;

    ul {
      gap: 20px;
      font-size: 1.75rem;
    }
  }

  .hamburgerMenu {
    display: block;
    font-size: 3.5rem;
  }
}