.main {
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
  background-color: rgb(var(--blue-2-rgb));
  padding: var(--side-margin);
  padding-top: calc(50px + 8.25rem + var(--side-margin)*2) !important;
  padding-bottom: 6rem !important;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recommendations {
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
  background-color: white;
  padding: var(--side-margin);
  color: rgb(var(--blue-3-rgb));

  h3 {
    margin-bottom: 1.2rem;
  }
}

.productDetails {
  p {
    color: rgb(var(--white-3-rgb));
    line-height: 2.2rem;
  }

  h4 {
    margin-top: 2rem;
    margin-bottom: 0.7rem;
  }

  ul {
    list-style-position: inside;
    margin-bottom: 2rem;

    li {
      color: rgb(var(--white-3-rgb));
      font-family: 'Lato', sans-serif;
      font-size: 1.5rem;
      line-height: 2.2rem;
      cursor: none;

      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
    }

    li::before {
      content: ' ';
      display: block;
      margin-top: 0.5rem;
      border-radius: 5rem;
      min-width: 0.5rem;
      height: 0.5rem;
      background-color: rgb(var(--white-3-rgb));
    }
  }

  button {
    margin-top: 0.6rem;
    width: 100%;
  }
}

.imgWrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
  cursor: zoom-in;

  img {
    object-fit: cover;
    transition: transform 0s linear;
  }
}

.imagewrapper:hover img {
  transform-origin: 50% 50%; /* set the origin of the zoom to the center of the image */
  transform: scale(1.2); /* apply a zoom transform of 1.2 on the image when the user hovers over it */
}

.relatedProducts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.2rem;
}

@media only screen and (min-width: 600px) {
  .main {
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: calc(50px + 4.6rem + var(--side-margin)) !important;
    flex-direction: row;
    gap: 6rem;

    .productDetails {
      flex: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .imgWrapper {
      align-self: self-start;
      flex: 1;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    padding-right: 12rem;
    padding-left: 12rem;

    .imgWrapper {
      align-self: unset;
    }
  }

  .relatedProducts {
    grid-template-columns: repeat(4, 1fr);
  }
}