.projectPreview {
  background-color: rgb(var(--blue-2-rgb));
  color: white;
  border-radius: var(--border-radius);
  margin-top: calc(var(--side-margin)/2);
  margin-bottom: calc(var(--side-margin)/2);
}

.projectDetails {
  padding: calc(var(--side-margin));

  .projectHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
    h2 {
      display: inline;
      font-weight: 800;
      margin-right: 20px;
    }
  }
}

.projectImages {
  font-size: 0;
  border-radius: 0px 0px var(--border-radius) var(--border-radius);

  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .imgWrapper {
    margin-bottom: -5px;
    display: inline-block;
    height: 400px;
    width: 400px;
    position: relative;
  }
}

.projectImages::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 1600px) {
  .projectImages {
    .imgWrapper {
      width: 500px;
      height: 500px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .projectHeader {
    h2 {
      text-overflow: ellipsis;
      overflow-x: clip;
      max-width: 60%;
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  .projectHeader {
    justify-content: space-between;

    h2 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  .projectImages {
    .imgWrapper {
      width: 100%;
      height: calc(100vw - var(--side-margin)*2);
    }
  }
}