.shopHeroDetails {
  text-align: center;
}

.heroImages {
  img {
    transform: scale(1.5);
    filter: drop-shadow(12px 24px 12px rgba(0,0,0,0.3));
  }

  img:nth-child(1) {
    left: -50%;
    transform: scale(1.6) translateY(-10px) rotateZ(25deg);
  }

  img:nth-child(2) {
    right: -50%;
    transform: scale(1.6) rotateZ(25deg);
  }
}